.serviceCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.serviceCard {
    flex: 1; /* fa sì che tutte le card all'interno del container abbiano la stessa altezza */
    position: relative;
    padding: 30px;
    border-radius: 18px;
    margin-top: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* animazioni hover */
}

.serviceIcon {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 2em;
}

/* Badge */
.inEvidenza {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #e2443a;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 20px;
}

/* Button */
.scopriDiPiuText {
    transition-duration: 0.3s;
}

.scopriDiPiuBtn{
    background-color: white;
    color: #58919e;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 5px 10px;
}
.scopriDiPiuBtn:hover{
    .scopriDiPiuText {
        padding-right: 5px;
    }
    .scopriDiPiuBtn{
        padding-right: 5px;
    }
}

/* Service Card */
.normalServiceCard {
    background-color: white;
    border: 1px solid #43626d33;

}

.normalServiceCard:hover {
    transform: translateY(-2%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.highlightedServiceCard {
    background-color: #58919e;
}

.highlightedServiceCard:hover {
    transform: translateY(-5%);
    box-shadow: 0 6px 14px rgb(51, 99, 111);
}

/* Text */
.title{
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
.normalTitle {
    color: black;
}
.highlightedTitle {
    color: white;
}

.description{
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
}
.normalDescription {
    color: #6b8a94;
}
.highlightedDescription {
    color: white;
}

.link {
    color: #6b8a94;
    transition: gap 0.3s ease;
    margin: 5px 10px;

}

.linkText {
    position: relative;
    color: #4a5b61;
    transition-duration: 0.3s;
}

.linkText:hover {
    color: #000000;
}

.linkHighlight {
    color: white;
    transition: gap 0.3s ease;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.linkHighlight:hover {
    color: white;
    .linkTextHighlight {
        padding-right:5px;
    }
}
.linkTextHighlight {
    position: relative;
    color: white;
    transition-duration: 0.3s;
}

.noUnderline {
    text-decoration: none;
}

.linkText::after {
    text-decoration: none;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #14b8a6, #06b6d4);
    transition: width 0.3s ease;
}

.linkTextHighlight::after {
    text-decoration: none;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, red, #06b6d4);
    transition: width 0.3s ease;
}


.cardWrapper:hover .linkText::after {
    width: 100%;
}