.ctaSection{
    padding: 40px;
    text-align: center;
}

.ctaText {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .ctaText {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .ctaText {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

.ctaServiziBtn {
    background-color: white;
    color: #096571;
    font-weight: 500;
    border: 2px solid #096571;
    transition: all 0.3s ease;
}

.ctaServiziBtn:hover {
    background-color: #096571;
    color: white;
    border-color: #096571;
}
