.wallpaper {
    background-image: url('/public/img/landscape-subsection-wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#topTitle{
    font-size: 1rem;
    color: #a5c1ca;
    margin-bottom: 20px;
    letter-spacing: 6px;
}

#title{
    color:white;
    font-size: 3rem;
    font-weight: bold;
}

#desc{
    color: #bfbfbf;
    font-size: 1rem;
    margin-top: 30px;
    padding-left: 14rem;
    padding-right: 14rem;
}

@media (max-width: 900px) {
    #desc {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.bounce {
    z-index: 10;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }
    50% {
        transform: translateY(-12px) translateX(-50%);
    }
}
