.storiaSection {
    padding: 40px;
    text-align: center;
}


.valoriCard{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border:2px solid #e4ecef;
    border-radius:12px;
    padding:1rem;
    margin-bottom:10px;
}

.valoriCard:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 0.5rem rgba(69, 123, 140, 0.1);
}

.valoriText {
    padding: 20px;
    text-align: left;
    font-size: 0.9rem;
}

.cardTit{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.cardDesc{
    font-size: 1rem;
    color: #555555;
    margin-bottom: 0;
}

.iconColor {
    color: #407887;
}
