* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#titolo-servizi{
    color: var(--scritte);
    text-align: center;
    font-weight: bold;
}

.stock-ticker {
    font-size: 2.4em;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
    width: 100%;
    position: relative;
}

.stock-ticker ul {
    list-style: none;
    display: flex;
    flex-shrink: 0;
    min-width: 100%;
    margin-bottom: 0;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
}

/* direzione sinistra */
.stock-ticker.left ul {
    animation: scroll-left 20s linear infinite;
}

/* direzione destra */
.stock-ticker.right ul {
    animation: scroll-right 18s linear infinite;
}

/* pausa al passaggio */
.stock-ticker:hover ul {
    animation-play-state: paused;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(calc(-100% - var(--gap)));
    }
    to {
        transform: translateX(0);
    }
}

.stock-ticker .servizio {
    font-weight: bold;
    text-transform: uppercase;
    color: #f5d4d3;
}
